body{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}

.centered{
  display:flex;
  justify-content:center;
  align-items:center;
}

.animated-title{
  height:90vmin;
  width:90vmin;
  display:grid;
  grid-template-rows:1fr 1fr;
  
}

.animated-title .text-top{
  overflow:hidden;
  display:grid;
  
  position:relative;
}

.animated-title .text-bottom{
overflow:hidden;  
position:relative;
border-top:3px solid #FFF;
}

.animated-title .text-top div{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:flex-start;
  position:absolute;
  
  transform:translateY(50vmin);
  width:100%;
  height:100%;
  animation-name:moveup;
  animation-duration:2s;
 animation-fill-mode: forwards;
  
}

.animated-title .text-top div span{
  display:grid;
  justify-content:left;
  align-items:end;
  font-size:15vmin;

}
.animated-title .text-top div span:first-child{
  color:#555;
}
.animated-title .text-top div span:last-child{
  margin-bottom:0.25em;
  margin-top:.25em;
  color:#FFF;
}
.animated-title .text-bottom div {
  display:grid;
  justify-content:left;
  align-items:start;
  margin-top:0.5em;
  width:100%;
  height:100%;
  font-size:10vmin;
  position:absolute;
  transform:translateY(-50vmin);
  animation-name:movedown;
  animation-duration:2s;
  animation-fill-mode: forwards;
  color:#FFF;
  
}
@keyframes moveup{
  50%{
    transform:translateY(25vmin);
  }
  100%{
    transform:translateY(0);}
}
@keyframes movedown{
  50%{
    transform:translateY(-15vmin);
  }
  100%{
    transform:translateY(0);}
}
